// Variables



$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #161616 !default;

$white: #FBFBFB !default;
$color-primary: #C61387 !default;
$color-primary-light: #E771C4;
$color-primary-light-1: #D591C7;
$color-primary-light-2: #F8C8F0;

$color-primary-dark: #86005C;;
$color-primary-dark-1: #A8538A;






