* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  

  
  body {
    font-family: 'Nunito';
    letter-spacing: 0.0625em;
  
  }
  
  section{
    padding: 8rem 0;
  }

  
  a {
    color: $color-primary;
    &:focus,
    &:hover {
      text-decoration: none;
      color: darken($color-primary, 20%);
    }
  }
  
  .bg-black {
    background-color: $black !important;
  }

  .bg-faded {
    background-color: fade-out($color-primary-light, 0.15);
  }

  .bg-faded-white {
    background-color: fade-out($white, 0.15);
  }
  

  .table-striped{
    background-color: fade-out($color-primary-light, 0.15);
  }

  table{

    th{
      background-color: $color-primary-dark;
      text-transform: uppercase;
    }

    tr{
      &:nth-child(odd){
        background-color: $color-primary-light-2;
      }
      &:nth-child(even){
        background-color: $color-primary-light;
      }
    }

  }

  
  
  .bg-primary {
    background-color: $color-primary !important;
  }
  
  .text-primary {
    color: $color-primary !important;
  }
  
  .text-white{
    color: $white;
  }
  
  footer {
    padding: 2rem 0;
    background-color: $color-primary;
  }
  