.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, #{fade-out($color-primary-dark, .4)} 30%,#{fade-out($white, .8)} 70%,$color-secondary-3-hex 100%), url('../img/bkg-salon-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  .card {
    background-color: rgba($white, 0.8);
    
  }

 
}

.list-group-item{
  padding: .35rem 1.25rem !important;

}
